   .sidebar {
    height: 200px;
    width: 220px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    border-radius: 2px;
    background-color: #fff; }
    .sidebar.open { left: 0; }
    .sidebar ul { list-style-type: none; padding: 0; margin-top: 40px; margin-left: 10px; }
    .sidebar li { padding: 0; padding: 5px 10px; }
    .menu-btn { position: fixed; left: 10px; top: 10px; cursor: pointer;}
    h1 { text-align: center;}
    img { height: 30px; width: 30px; border-radius: 50%; }
  
